services:
  - type: web
    name: url-shortener-backend
    env: node
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 10000
